.stretch10
{
width:10%;
float:left;
}
.stretch20
{
width:20%;
float:left;
}

.stretch30
{
width:30%;
float:left;
}
.stretch40
{
width:40%;
float:left;
}
.stretch50
{
width:50%;
float:left;
}
.stretch60
{
width:60%;
float:left;
}
.stretch70
{
width:70%;
float:left;
}
.stretch80
{
width:80%;
float:left;
}
.stretch90
{
width:90%;
float:left;
}
.stretch100
{
width:100%;
float:left;
}