<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
    {% block extracss %}
    {% endblock %}
    <title>IDP - {% block title %}IDP Sequence Parameter Computation Server{% endblock %}</title>
</head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
           <div class="navbar-inner">
               <div class="container">
                   <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                   </button>
                   <a class="brand" href="/idp/">IDP</a>

                   <div class="nav-collapse collapse">
                       <ul class="nav pull-right">
                           {% if user.is_authenticated %}
                            <li class="navbar-text">Welcome, {{ user.username }}!</li>
                            <li><a href="/idp/logout/">Logout</a></li>
                           {% else %}
                            <li><a href="/idp/register/">Register</a></li>
                            <li><a href="/idp/login/">Login</a></li>
                           {% endif %}
                       </ul>
                       <ul class="nav">
                           {% if user.is_authenticated %}
                           {% endif %}
                           <li><a href="/idp/about/">About</a></li>
                       </ul>
                   </div>
                   <!--/.nav-collapse -->
               </div>
           </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                {% if user.is_authenticated %}
                <div class="span3">
                    <div class="well sidebar-nav">
                        <h3>Account Management</h3>
                        <li><a href="/idp/profile/">View Sequences</a></li>
                        <li><a href="/idp/add_sequence/">Add Sequences (1-15 Sequences)</a></li>
                        <li><a href="/idp/joblist/">View Current Jobs</a></li>
                        <br><h3>Sequence Library</h3>
                        <li><a href="/idp/singleseqprop/">Sequence Properties</a></li>
                        <li><a href="/idp/seqprop/">Phase Properties</a></li>
                        <li><a href="/idp/wl/">Kappa Density of States</a></li>
                        <li><a href="/idp/hetero/">Heterogeneity</a></li>
                        <br><h3>Download your Data</h3>
                        <li><a href="/idp/downwl/">Kappa Density of States</a></li>
                        <li><a href="/idp/downhetero/">Heterogeneity</a></li>
                    </div>
                    <!--/.well -->
                </div>
                {% endif %}
                <!--/span-->
                {% if user.is_authenticated %}
                <div class="span9">
                {% else %}
                <div class="span12">
                {% endif %}
                    {% block body_block %}
                    {% endblock %}
                </div>

                <!--/span-->
            </div>
            <!--/row-->
        </div>
        <!--/.fluid-container-->

        <hr>
        <footer>
            <div class="container">
                <p>&copy; Pappu Lab: IDP Sequence Parameter Computation Server</p>
            </div>
        </footer>
        <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>