{% extends 'idp/base.html' %}

{% load static %} <!-- New line -->

{% block title %}Pappu Lab IDP Sequence Parameter Computation Server{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <img class="centered" src="{% static "newlogo.jpg" %}" alt="Picture of Pappu Lab Logo" /> <!-- New line -->
    <center><h2>Welcome to the IDP Parameter Computation Server</h2></center>
    For documentation on the server and server usage instructions, please go <a href="/idp/about/">here</a><br />
</div>
{% endblock %}