{% extends 'idp/base.html' %}

{% block extracss %}
{% load static %}
<link href="{% static 'css/stretchContainers.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Sequence Properties{% endblock %}

{% block body_block %}
{% load render_table from django_tables2 %}
<div class="hero-unit">
        <p> Select your tag, then press analyze. Sequences will then be populated. Then
select your sequences and press analyze. </p>
        <form class="stretch100" id="wl_form" method="post" action="/idp/seqprop/">
            <div class="stretch50">
            {% csrf_token %}
            {% for hidden in tagform.hidden_fields %}
            {{ hidden }}
            {% endfor %}

            {% for field in tagform.visible_fields %}
            {{ field.errors }}<br>
            {{ field.help_text }}<br/>
            {{ field }}
            {% endfor %}
            </div>
            <div class="stretch50">
            {% csrf_token %}
            {% for hidden in seqform.hidden_fields %}
            {{ hidden }}
            {% endfor %}

            {% for field in seqform.visible_fields %}
            {{ field.errors }}<br>
            {{ field.help_text }}<br/>
            {{ field }}
            {% endfor %}
            </div>
            <br/>
            <button class="btn btn-primary" type="submit" name="submit">Analyze</button>

        </form>
        {% render_table sequences %}
        <br>
        <img class="centered-resize" src="{% static phaseplot %}" alt="Phase Plot Diagram" /> <!-- New line -->
    <div class="stretch40">
    </div>
</div>
{% endblock %}
